<!-- &-------------Footer----------- -->
<footer class="bg-[#f0f3f2] dark:bg-black dark:text-gray-200 py-10 mt-5">
  <div class="mx-4 md:mx-16">
    <h4 class="text-xl font-semibold">Get The Fresh CArt App</h4>
    <p class="font-light text-lg">we will send you a link, open it on your phone to download the app</p>
    <div class="flex gap-4 my-5">
      <input type="email" placeholder="Email.." class="w-full py-2 px-3 outline-none border-2  focus:border-green-600 rounded-md">
      <button class="btn bg-main px-3 py-1 rounded-md text-white flex-shrink-0 ">Share App Link</button>
    </div>
    <p class="text-center text-lg font-light"> 2023 Moustafa Eprahem All Rights Reserved</p>

  </div>
</footer>

