<section @translateY *ngIf="step1" class="w-full md:w-1/2 rounded-md m-auto bg-[#f0f3f2] dark:bg-black shadow-md p-3 mt-16">
  <form [formGroup]="forgetCodePassword" (ngSubmit)="passwordForget()">
    <input type="email" formControlName="email" placeholder="Email" class="w-full p-2 rounded-md outline-none focus:border-green-500 border-2">
    <div *ngIf="forgetCodePassword.get('email')?.errors && forgetCodePassword.get('email')?.touched" class="bg-red-100 px-4 py-2 rounded-md ">
      <p class="text-sm m-0" *ngIf="forgetCodePassword.get('email')?.getError('required')">Required Email</p>
      <p class="text-sm m-0" *ngIf="forgetCodePassword.get('email')?.getError('email')">Email is Invalid</p>
    </div>
    <button class="bg-green-500 p-1 rounded-md text-white w-full mt-3">Forgot Password <i class="fa fa-spin fa-spinner" *ngIf="isLoading"></i></button>
    <p *ngIf="isMsg" class="bg-red-100 px-4 py-2 rounded-md  mt-3 w-100 text-center m-0 text-sm">{{isMsg}}</p>
  </form>
</section>

<section @translateY *ngIf="step2" class="w-full md:w-1/2 rounded-md m-auto bg-[#f0f3f2] dark:bg-black shadow-md p-3 mt-16">
  <form [formGroup]="resetCodeForm" (ngSubmit)="passwordReset()">
    <input type="text" formControlName="resetCode" placeholder="Reset Code" class="w-full p-2 rounded-md outline-none focus:border-green-500 border-2">
    <div *ngIf="resetCodeForm.get('resetCode')?.errors && resetCodeForm.get('resetCode')?.touched" class="bg-red-100 px-4 py-2 rounded-md ">
      <p class="text-sm m-0" *ngIf="resetCodeForm.get('resetCode')?.getError('required')">Required Password</p>
      <p class="text-sm m-0" *ngIf="resetCodeForm.get('resetCode')?.getError('pattern')">Verify Reset Code</p>
    </div>
    <button class="bg-green-500 p-1 rounded-md text-white w-full mt-3">Reset Code <i class="fa fa-spin fa-spinner" *ngIf="isLoading"></i></button>
    <p *ngIf="isMsg" class="bg-red-100 px-4 py-2 rounded-md  mt-3 w-100 text-center m-0 text-sm">{{isMsg}}</p>
  </form>
</section>

<section @translateY *ngIf="step3" class="w-full md:w-1/2 rounded-md m-auto bg-[#f0f3f2] dark:bg-black shadow-md p-3 mt-16">
  <form [formGroup]="resetCodePassword" (ngSubmit)="passwordCodeForget()">
    <input type="password" formControlName="newPassword" placeholder="Reset Password" class="w-full p-2 rounded-md outline-none focus:border-green-500 border-2">
    <div *ngIf="resetCodePassword.get('newPassword')?.errors && resetCodePassword.get('newPassword')?.touched" class="bg-red-100 px-4 py-2 rounded-md ">
      <p class="text-sm m-0" *ngIf="resetCodePassword.get('newPassword')?.getError('required')">Required Password</p>
      <p class="text-sm m-0" *ngIf="resetCodePassword.get('newPassword')?.getError('pattern')">Reset Password</p>
    </div>
    <button class="bg-green-500 p-1 rounded-md text-white w-full mt-3">Reset Password <i class="fa fa-spin fa-spinner" *ngIf="isLoading"></i></button>
    <p *ngIf="isMsg" class="bg-red-100 px-4 py-2 rounded-md  mt-3 w-100 text-center m-0 text-sm">{{isMsg}}</p>
  </form>
</section>
